html {
  box-sizing: border-box;
  font-size: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items:center;
  flex-direction:row;
  margin: 15px;
}
.radio-group{
  padding: 10px;
 }
form {
  display: flex;
  flex-direction: column;
}
button{
  margin-top: 5px;
}
h1{
  margin-top: 5px;
}
input {
  padding: 10px;
}
.border-box{
  padding: 10px;
  border: 2px solid black
}
